<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">

        <title>Mapper | {% block title %}Real Estate Development{% endblock %}</title>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
           <div class="navbar-inner">
               <div class="container">
                   <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                   </button>
                   <a class="brand" href="/main/">Mapper</a>

                   <div class="nav-collapse collapse">
                       <ul class="nav pull-right">
                           {% if user.is_authenticated %}
                            <li class="navbar-text">Welcome, {{ user.username }}!</li>
                            <li><a href="/main/logout/">Logout</a></li>
                           {% else %}
                            <li><a href="/main/register/">Register</a></li>
                            <li><a href="/main/login/">Login</a></li>
                           {% endif %}
                       </ul>
                       <ul class="nav">
                           {% if user.is_authenticated %}
                            <li><a href="/main/restricted/">Restricted</a></li>
                            <li><a href="/main/add_category/">Add Category</a></li>
                           {% endif %}
                           <li><a href="/main/contact/">Contact</a></li>
                       </ul>
                   </div>
                   <!--/.nav-collapse -->
               </div>
           </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        <!--- Empty for the timebeing -->
                    </div>
                    <!--/.well -->
                </div>
                <!--/span-->
                <div class="span9">
                {% block body_block %}
                <div class = 'hero-unit'>
                    {% block body_block2 %}
                    <h1>{{ category_name }}</h1>

                    {% if pages %}
                    <ul>
                        {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <strong>No pages currently in category.</strong>
                    {% endif %}

                    <div>

                    <strong id="like_count">{{ category.likes }}</strong> people like this category

                    {% if user.is_authenticated %}
                        <a href="/main/category/{{category_name_url}}/add_page/">Add a Page</a>
                        <button id="likes" data-catid="{{category.id}}" class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        Like
                        </button>

                    {% endif %}

                    {% if user.is_authenticated %}
                    <button data-catid="{{category.id}}" data-title="{{ result.title }}" data-url="{{ result.link }}" class="rango-add btn btn-mini btn-info" type="button">Add</button>
                    {% endif %}


                    </div>
                {% endblock %}
                </div>
                {% endblock %}          
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/.fluid-container-->
        <hr>
        <footer>
            <div class="container">
                <p>&copy; Mapper: Discover and Built your own path</p>
            </div>
        </footer>
        <script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>